@import "./assets/minxin";
@import "./assets/variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0 !important;
}

.info-bgColor {
    background-color: rgba(232, 249, 255, 1);
}

// mobile
@media screen and (width <=375) {
    .navbar {
        .navbar-brand {
            @include paddingLeftNavbar();
        }

        .offcanvas {
            @include paddingRightNavbar();
        }
    }
}

// tablet
@media screen and (width >=376) and (width <=1279) {
    .navbar {
        .navbar-brand {
            padding-left: 100px !important;
        }

        .offcanvas {
            padding-right: 100px !important;
        }
    }
}

@media screen and (width >=769px) {
    .navbar {
        .navbar-brand {
            padding-left: 100px !important;
        }

        .offcanvas {
            padding-right: 100px !important;
        }

        .nav-item .nav-link {
            @include stylesTextBlue();
            font-size: 20px;
        }
    }

    .info {
        .info-content {
            padding: 96px 0 0 100px;
        }

        .info-img {
            padding: 60px 67px 0 0;
        }
    }
}