@mixin paddingRightNavbar {
    padding-right: 0;
}

@mixin paddingLeftNavbar {
    padding-right: 0;
}

@mixin stylesTextBlue {
    color: #387ADF;
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    /* 125% */
}

@mixin stylesTextDark {
    color: #5C5C5C;
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 125% */
}

@mixin stylesTextBtn {
    font-family: SF Pro Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    /* 150% */
}